{% extends 'users/detail.html %}

{% block user_details %}
<div>
    <ul>
        {% for msg in likes %}
            <li>
                <a href="/messages/{{ msg.id  }}"/>
                <a href="/users/{{ msg.user.id }}">
                    <img src="{{ msg.user.image_url }}" alt="">
                </a>
                <div>
                    <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
                    <p>{{ msg.text }}</p>
                </div>
                {% if user.id == g.user.id %}
              <form method="POST" action="/messages/{{ msg.id }}/like">
                <button>
                  <i class="fa fa-thumbs-up"></i>
                </button>
              </form>
              {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
